Repository Haven-of-the-Embraced/src: changes, and which Jenkins stages are due for each by the changed paths.
All: Clean, Build, Test

Jenkinsfile:

pipeline {
    agent {
        node {
            label 'master'
            customWorkspace '/home/havendev/src'
        }
    }

    stages {
        stage('Clean') {
            when {
                beforeAgent true
                changeset "*.h"
            }
            steps {
                echo 'Cleaning up object files...'
                sh 'make clean'
            }
        }
        stage('Build') {
            when {
                beforeAgent true
                anyOf {
                    changeset '*.h'
                    changeset '*.c'
                }
            }
            steps {
                echo 'Building MUD...'
                sh 'make'
            }
        }
        stage('Test') {
            when {
                beforeAgent true
                anyOf {
                    changeset '*.h'
                    changeset '*.c'
                }
            }
            steps {
                echo 'Executing a Test Run...'
                dir('/home/havendev/area') {
                    sh '../src/rom 2002 testrun'
                }
            }
        }
    }
    post {
        always {
            script {
                def branch = BRANCH_NAME
                def msg = "**Status:** " + currentBuild.currentResult.toLowerCase() + "\n"
                msg += "**Branch:** ${branch}\n"
                msg += "**Changes:** \n"
                if (!currentBuild.changeSets.isEmpty()) {
                    currentBuild.changeSets.first().getLogs().each {
                        msg += "- `" + it.getCommitId().substring(0, 8) + "` *" + it.getComment().substring(0, it.getComment().length()-1) + "*\n"
                    }
                } else {
                    msg += "no changes for this run\n"
                }

                if (msg.length() > 1024) msg.take(msg.length() - 1024)

                withCredentials([string(credentialsId: 'DiscordWebhook', variable: 'discordWebhook')]) {
                    discordSend thumbnail: "https://havenmud.net/images/taskfailed.jpg", successful: currentBuild.resultIsBetterOrEqualTo('SUCCESS'), description: "${msg}", link: env.BUILD_URL, title: "HavenMUD:${branch} #${BUILD_NUMBER}", webhookURL: "${discordWebhook}"
                }
            }
        }
    }
}

do_copyover: moved copyover routine to separate function for reuse
  act_wiz.c
Due: Build, Test

comm.c: Moved assert.h inclusion to top of file
  comm.c
Due: Build, Test

main: call to initialize signal handler
  comm.c
Due: Build, Test

do_auto_shutdown: replaced copyover routine copyover_handler call
  act_wiz.c
Due: Build, Test

do_bash, do_trip, do_dirt, do_disarm: added act() to show precognition triggering (closes #12)
  fight.c
Due: Build, Test

do_blast: added skillup chances (closes #109)
  fight.c
Due: Build, Test

race_table: updating spirit, bane form & parts flags (#68)
  const.c
Due: Build, Test

do_enter: fixed a dumb. (#107)
  .gitignore
  Makefile
Due: none

race_table: replace fido with 'marine mammal' (#68)
  const.c
Due: Build, Test

do_bash: fixed a null pointer bug.
  fight.c
Due: Build, Test

do_enter: fixed order of if checks
  act_enter.c
Due: Build, Test

race_table: updated wraith (rem invis/detect invis) (#68)
  const.c
Due: Build, Test

do_chimaera: Fixed typo. (#14)
  disciplines.c
Due: Build, Test

do_chimaera: Adjusted level and HP. (#14)
  disciplines.c
Due: Build, Test

#define MAX_SKILL: changed from 400 to 405
  merc.h
Due: Clean, Build, Test

do_quit(): prevent quitting while astral projecting
  act_comm.c
Due: Build, Test

skill_table[]: added affects for new Auspex5
  const.c
Due: Build, Test

do_project(): recoded psychic projection (closes #108)
  disciplines.c
Due: Build, Test

Fixed smartquote issue in copypasta. (#108)
  act_comm.c
  const.c
  disciplines.c
Due: Build, Test

fix undefined reference in project. (#108)
  disciplines.c
Due: Build, Test

define GSNs for astralprojection and astrallylost (#108)
  db.c
  merc.h
Due: Clean, Build, Test

do_project: Fixed typo (#108)
  disciplines.c
Due: Build, Test

do_project: Fixed more compile errors (#108)
  disciplines.c
Due: Build, Test

do_project: fixed runtime errors (#108)
  disciplines.c
Due: Build, Test

do_dirt(): added xp gain for successes
  fight.c
Due: Build, Test

do_dirt: Fixed variable error in previous commit
  fight.c
Due: Build, Test

get_obj_world: Added unseen argument
  handler.c
  merc.h
Due: Clean, Build, Test

do_project: Removed commented out code (#108)
  disciplines.c
Due: Build, Test

get_obj_world: Fixed function calls in all files
  act_wiz.c
  disciplines.c
  mob_prog.c
Due: Build, Test

pass_gauntlet: Added 'show' argument, to hide message display
  act_enter.c
  garou.c
  handler.c
  merc.h
  rote.c
Due: Clean, Build, Test

Fixed lost bodies on astrally projected vamps (#108)
  act_wiz.c
  comm.c
Due: Build, Test

Changed Jenkinsfile to build anytime a source file is changed
  Jenkinsfile
Due: none

char_update: force projected ch to return to corpse before quit (#108)
  update.c
Due: Build, Test

do_enter: prevent astra vamps from using umbral rift portals (closes #113)
  act_enter.c
Due: Build, Test

do_enter: Fixed whitespace issue (#113)
  act_enter.c
Due: Build, Test

do_feed: Removed commented out code, changed messages to ghouls
  vampire.c
Due: Build, Test

do_feed: moved long if-check for feeding to separate func
  vampire.c
Due: Build, Test

added utility has_blood()
  handler.c
  merc.h
Due: Clean, Build, Test

kill_triggers: moved autosac/loot/gold into a separate func. (#110)
  fight.c
  merc.h
Due: Clean, Build, Test

kill_em: added calls to new kill_triggers func (#110)
  fight.c
Due: Build, Test
