Repository Haven-of-the-Embraced/src: changes, and which Jenkins stages are due for each by the changed paths.
All: Clean, Build, Test

Clean:
              steps {
                  echo 'Cleaning up object files...'
                  sh 'make clean'
              }
          

Build:
              steps {
                  echo 'Building MUD...'
                  sh 'make'
              }
          

Test:
              steps {
                  echo 'Executing a Test Run...'
                  dir('/home/havendev/area') {
                      sh '../src/rom 2002 testrun'
                  }
              }
          

show_char_to_char: added (Luminous) 'aura' for chars w/ lambentfire
  act_info.c
Due: Build, Test

gift_lambentfire: initial code for activating gift/affect added
  gifts.c
Due: Build, Test

gift_lambentfire: upon activate, poss. blind those in room (#154)
  gifts.c
Due: Build, Test

d10_hit: +1 diff to hit if vict affby lambentfire (#154)
  fight.c
Due: Build, Test

char_update: added wearoff msg to room for lambentfire
  update.c
Due: Build, Test

char_update: inroom light reduce when lambentfire wearoff (#154)
  update.c
Due: Build, Test

char_(to/from)_room: adjust inroom light if ch has lambentfire (#154)
  handler.c
Due: Build, Test

gift_lambentfire: affstrip, inroom light alterations [act/deac] (#154)
  gifts.c
Due: Build, Test

gift_lambentfire: altered duration so won't be 0 at rank 1
  gifts.c
Due: Build, Test

Dlte macro, add get_time_string() 2 cnvrt time frm digit to am/pm (#144)
  handler.c
  merc.h
Due: Clean, Build, Test

find_keeper: declaring variables to use in strings (#144)
  act_obj.c
Due: Build, Test

find_keeper: use get_time_string to report shop hours (closes #144)
  act_obj.c
Due: Build, Test

defined get_time_string for external use, in handler.c (#144)
  merc.h
Due: Clean, Build, Test

find_keeper: Fixed issue showing incorrect time (#144)
  act_obj.c
  handler.c
Due: Build, Test

gift_table: lambent lvl 0 to 1 to show coded (#154)
  tables.c
Due: Build, Test

extract_obj: Give more info when obj not found
  handler.c
Due: Build, Test

comm/copyover: Fixed bug in player list
  act_wiz.c
  comm.c
Due: Build, Test

Defined PLAYERLIST_FILE for saving player order on copyover
  merc.h
Due: Clean, Build, Test

load_player_list: read list of players during copyover
  act_wiz.c
Due: Build, Test

save_player_list on copyover.
  act_wiz.c
Due: Build, Test

load_player_list: fixed buffer overflow on not finding name
  act_wiz.c
Due: Build, Test

Moved addict code into separate file
  act_info.c
  act_wiz.c
  addict.c
  addict.h
  comm.c
  fight.c
  merc.h
Due: Clean, Build, Test

get_addict_bonus: implemented and declared
  addict.c
  addict.h
Due: Clean, Build, Test

xp_compute: call get_addict_bonus
  fight.c
Due: Build, Test

get_addict_mult: utility function
  addict.c
  addict.h
Due: Clean, Build, Test

do_addict: now calls get_addict_mult for display
  act_info.c
Due: Build, Test

race_table: cleanup/organize
  const.c
Due: Build, Test

pc_race_table: fixed to match race_table
  const.c
Due: Build, Test

Added ftp files to .gitignore for atom. Also added .gitignore to itself
  .gitignore
Due: none

change_exit: warns when unlinking exits that do not reverse-link
  olc_act.c
Due: Build, Test

aedit_filename: Fixed bug caused by removing length limit
  olc_act.c
Due: Build, Test

jenkins: Changed build dir for Jenkins tests
  Jenkinsfile
Due: none

Missed a directory change for Jenkins.
  Jenkinsfile
Due: none

Readme created with basic info
  README.md
Due: none

get_obj_anywhere: Like get_obj_world, but less restrictive (#139)
  handler.c
  merc.h
Due: Clean, Build, Test

do_ostat: replaced get_obj_world with get_obj_anywhere (closes #139)
  act_wiz.c
Due: Build, Test

get_obj_anywhere: removed external function calls (#139 #181)
  handler.c
Due: Build, Test

do_steal: added qitem check (closes #1)
  act_obj.c
Due: Build, Test

renown_gain: Bumped potential points from 0-4 to 1-4 (closes #167)
  garou.c
Due: Build, Test

reset_char: Rewrote function to clear all affects and replace them
  handler.c
Due: Build, Test

Path conditions:
  Clean: any of: *.h
  Build: (any of: *.h) or (any of: *.c)
  Test: (any of: *.h) or (any of: *.c)
